.formReq{
    padding: 20px;
}
.ant-row .ant-form-item .ant-col.ant-form-item-label{
    width: 100%;
    text-align: left;
}


.ant-form-item-children{
    flex-direction: column;
    display: flex;
}

.ant-input{
    color: #eee !important;
}
